$color-title:#000000;
$color-description: #7D7987;
$color-footer:#FFF;
$color-button:#458FF6;
@mixin text ($f-weight, $f-size, $l-height, $color) {
    font-weight: $f-weight;
    font-size: $f-size;
    line-height: $l-height;
    color: $color;
}

%button {
    display: block;
    width: 200px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 55px;
    border: 2px solid $color-button;
}

%button-text {
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 52px;
    color: $color-button;
}