    @import 'variables.scss';
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Mulish', sans-serif;
    }
    
    .container {
        max-width: 1218px;
        margin: auto;
    }
    
    header {
        position: absolute;
        top: 56px;
        left: 0;
        right: 0;
    }
    
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        nav ul {
            list-style: none;
            display: flex;
            li a {
                text-decoration: none;
                margin-left: 40px;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: #1F1534;
                opacity: 0.5;
            }
            li .active {
                font-weight: 700;
                line-height: 23px;
                opacity: 100%;
            }
        }
    }
    
    .logo-wrapper {
        display: flex;
        position: relative;
        .logo {
            font-weight: 700;
            font-size: 26px;
            line-height: 33px;
            color: #FFFFFF;
            margin-left: 13px;
        }
        .round {
            position: absolute;
            top: -5px;
            left: 0px;
            z-index: -1;
        }
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #233348;
            margin-left: 23px;
        }
    }
    
    .healthcare .container {
        padding-top: 177px;
        display: flex;
        justify-content: space-between;
    }
    
    .healthcare {
        .text {
            width: 445px;
        }
        &__img {
            display: block;
            align-items: center;
            width: 693px;
            height: 598px;
        }
        &__title {
            @extend %text-title;
            font-size: 48px;
            margin-top: 106px
        }
        &__description {
            @extend %text-description;
            margin: 35px 0;
        }
        &__button {
            @extend %button;
            @extend %button-text;
            color: #FFFFFF;
        }
    }