 @import 'variables.scss';
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Mulish', sans-serif;
 }
 
 .container {
     max-width: 1218px;
     margin: auto;
 }
 
 header {
     position: absolute;
     top: 56px;
     left: 0;
     right: 0;
 }
 
 .header-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     nav ul {
         list-style: none;
         display: flex;
         li a {
             text-decoration: none;
             margin-left: 40px;
             @include text(400, 18px, 23px, #1F1534);
             opacity: 0.5;
         }
         li .active {
             font-weight: 700;
             opacity: 100%;
         }
     }
 }
 
 .logo-wrapper {
     display: flex;
     position: relative;
     .logo {
         @include text(700, 26px, 33px, #FFF);
         margin-left: 13px;
     }
     .round {
         position: absolute;
         top: -5px;
         left: 0px;
         z-index: -1;
     }
     .title {
         @include text(700, 24px, 30px, #233348);
         margin-left: 23px;
     }
 }
 
 .healthcare .container {
     padding-top: 177px;
     display: flex;
     justify-content: space-between;
 }
 
 .healthcare {
     .text {
         width: 445px;
     }
     &__img {
         display: block;
         align-items: center;
         width: 693px;
         height: 598px;
     }
     &__title {
         @include text(700, 48px, 56px, $color-title);
         margin-top: 106px
     }
     &__description {
         @include text(300, 21px, 32px, $color-description);
         margin: 35px 0;
     }
     &__button {
         @extend %button;
         background: #458FF6;
         @extend %button-text;
         line-height: 56px;
         color: #FFFFFF;
     }
 }
 
 .services {
     .container {
         margin-top: 192px;
     }
     background: url(/images/background.svg);
     background-repeat: no-repeat;
     &__title {
         @include text(700, 36px, 56px, $color-title);
         text-align: center;
     }
     &__title::after {
         content: '';
         display: block;
         background-image: url(/images/line-title.png);
         width: 56px;
         height: 2px;
         margin: 26px auto 33px;
         background-repeat: no-repeat;
     }
     &__description {
         @include text(300, 18px, 30px, $color-description);
         margin: 0 auto 80px;
         width: 952px;
     }
     &__cards-wrapper {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         margin-bottom: 35px;
         background: url(/images/bgelement.svg) right;
         background-repeat: no-repeat;
     }
     &__card:nth-child(2),
     &__card:nth-child(5) {
         margin: 0 34px 37px;
     }
     &__card {
         &__wrapper-img {
             min-height: 95px;
         }
         display: block;
         text-align: left;
         width: 350px;
         background-color: #FFFFFF;
         padding: 47px 45px 47px 38px;
         border-radius: 20px;
         margin-bottom: 37px;
         box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
     }
     &__card-title {
         @include text (700, 24px, 56px, $color-title);
         margin-top: 20px
     }
     &__card-text {
         @include text (300, 16px, 28px, $color-description);
     }
     .button {
         @extend %button;
         @extend %button-text;
         line-height: 52px;
         margin: auto;
     }
 }
 
 .provideres .container {
     padding-top: 221px;
     display: flex;
     justify-content: space-between;
 }
 
 .provideres {
     &__img {
         display: block;
         width: 650;
         height: 477;
         margin-right: 87px;
     }
     &__text {
         margin-top: 57px;
         width: 486px;
     }
     &__title {
         @include text (700, 36px, 56px, $color-title);
     }
     &__title::after {
         content: '';
         display: block;
         background-image: url(/images/line-title.png);
         width: 56px;
         height: 2px;
         margin: 26px 0 31px;
         background-repeat: no-repeat;
     }
     &__description {
         @include text (300, 18px, 30px, $color-description);
         width: 450px;
     }
     .button {
         @extend %button;
         @extend %button-text;
         height: 58px;
         line-height: 56px;
         margin-top: 37px;
     }
 }
 
 .apps .container {
     padding-top: 229px;
     display: flex;
     justify-content: space-between;
 }
 
 .apps {
     &__img {
         display: block;
         width: 665px;
         height: 434px;
     }
     &__text {
         margin: 36px 45px 0 90px;
         width: 420px;
     }
     &__title {
         @include text (700, 36px, 48px, $color-title);
         width: 254px;
     }
     &__title::after {
         content: '';
         display: block;
         background-image: url(/images/line-title.png);
         width: 56px;
         height: 2px;
         margin: 30px 0 31px;
         background-repeat: no-repeat;
     }
     &__description {
         @include text (300, 18px, 30px, $color-description);
     }
     .button {
         @extend %button;
         height: 56px;
         @extend %button-text;
         margin-top: 40px;
     }
     .button::after {
         content: '\2913';
         margin-left: 15px;
     }
 }
 
 .feedback .container {
     margin-top: 251px;
 }
 
 .background {
     background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
     border-radius: 24px;
     width: 1120px;
     height: 425px;
     margin: auto;
     padding: 65px 0;
     &__title {
         @include text (700, 36px, 48px, #FFF);
         text-align: center;
     }
     &__title::after {
         content: '';
         display: block;
         background-image: url(/images/line-white.png);
         width: 56px;
         height: 2px;
         margin: 25px auto 66px;
         background-repeat: no-repeat;
     }
     &__wrapper {
         display: flex;
         justify-content: center;
         align-items: center;
     }
     &__customer {
         margin: 0 111px 0 29px;
     }
 }
 
 .customer {
     &__text {
         @include text (400, 19px, 30px, rgba(255, 255, 255, 0.9));
         width: 420px;
     }
     &__name {
         @include text (700, 22px, 48px, #FFF);
         margin-top: 25px;
     }
     &__post {
         @include text (400, 18px, 48px, rgba(255, 255, 255, 0.85));
     }
 }
 
 .article .container {
     margin-top: 278px;
 }
 
 .article {
     .button-all {
         @extend %button;
         height: 60px;
         margin: 69px auto 201px;
         @extend %button-text;
         line-height: 60px;
     }
     &__title {
         @include text (700, 36px, 56px, $color-title);
         text-align: center;
     }
     &__title::after {
         content: '';
         display: block;
         background-image: url(/images/line-title.png);
         width: 56px;
         height: 2px;
         margin: 32px auto 79px;
         background-repeat: no-repeat;
     }
     &__cards-wrapper {
         display: flex;
         justify-content: center;
     }
     &__card {
         img {
             display: block;
         }
         width: 350px;
         &__title {
             margin: 24px 0 12px 33px;
             @include text (700, 21px, 32px, $color-title);
         }
         &__description {
             margin-left: 33px;
             @include text (300, 16px, 28px, $color-description);
         }
         .button {
             display: block;
             margin: 25px 0 35px 33px;
             font-weight: 600;
             font-size: 17px;
             line-height: 28px;
             color: #4089ED;
             text-decoration: none;
         }
         .button::after {
             content: '\2911';
             margin-left: 15px;
         }
         &:nth-child(2) {
             margin: 0 34px;
         }
     }
 }
 
 footer {
     padding-top: 118px;
     padding-bottom: 128px;
     background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
     .container {
         display: flex;
         justify-content: space-between;
         align-items: baseline;
         .company__title,
         .region__title,
         .help__title {
             @include text (700, 20px, 60px, $color-footer);
         }
         .company__description,
         .region__description,
         .help__description {
             @include text (300, 18px, 38px, $color-footer);
         }
         .trafalgar {
             width: 391px;
             position: relative;
             &__title {
                 @include text (700, 26px, 33px, #5B9BF3);
                 margin-left: 13px;
                 z-index: 1;
             }
             &__title-tr {
                 @include text (700, 24px, 30px, $color-footer);
                 margin-left: 23px;
                 margin-bottom: 22px;
             }
             .trafalgar-round {
                 position: absolute;
                 top: -5px;
                 left: 0px;
             }
             &__description {
                 @include text (700, 24px, 30px, $color-footer);
                 margin-bottom: 31px;
             }
             &__description {
                 @include text (300, 18px, 28px, $color-footer);
             }
             &__copy {
                 @include text (300, 16px, 28px, $color-footer);
             }
         }
     }
 }